.main_product {
    width: 100%;
    margin: 20px 0px;
}

.main_product h1 {
    width: 90%;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main_product_div {
    margin-top: 10px;
    width: 90%;
    justify-content: space-between;
}

.product_div {
    padding: 20px 0px;
    width: 22%;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    flex-flow: column;
    background: #F5F5F5;
    margin-bottom: 10px;
}

.product_div_1 {
    width: 100%;
}

.product_div img {
    width: 90%;
}

.product_para {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product_para:nth-child(2) {
    color: rgba(100, 86, 86, 0.652);
    font-size: 22px;
    margin-top: 10px;
}

.product_para:nth-child(3) {
    font-size: 17px;
    color: rgba(100, 10, 86, 0.652);
    margin-top: 10px;
}

.product_para:nth-child(4) {
    font-size: 17px;
    color: rgba(100, 10, 86, 0.652);
    margin-bottom: 10px;
}

.main_buy_div {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    display: none;
    z-index: 6;
    transition: 1s;
}

.main_buy_div button {
    width: 40px;
    height: 40px;
    display: flex;
    color: #3D464D;
    justify-content: center;
    align-items: center;
    color: #FFD333;
    border: 1px solid grey;
    margin-left: 5px;
    background: #243635;
    cursor: pointer;
}

.product_div:hover .main_buy_div {
    display: flex;
}

.product_div:hover {
    background: rgba(0, 0, 0, 0.3);
}
