.main_service{
    width: 100%;
    justify-content: space-around;
}
.main_service_div{
    width: 20%;
    background: #F5F5F5;
    padding: 20px 0px;
}
.main_service_div span{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FFD333;
    margin-right: 10px;
}
.main_service_div p{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}